Package: revdns
Version: 1.0-1
Section: base
Priority: optional
Architecture: i386
Recommends: python, host, openssl
Maintainer: Sven Berglund <sven.berglund.public@gmail.com>
Description: Best effort reverse dns lookup
 Given an IP address this program will try to lookup a domain name.
 It uses both host command (dns info) and tries to pull https certificate info.
